<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado de Ventas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-4">
		<div style="margin-bottom: 1rem; text-align: right;">
			<a th:href="@{/newVenta}"class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar Venta</a>
			<a th:href="@{/menu}" class="btn btn-warning"><i class="fas fa-angle-double-left"></i> Volver</a>
		</div>
		

		<div class="input-group my-3" style="width: 30%;">
			<div class="input-group-prepend">
				<span class="input-group-text" style="background-color: #c1ebb0;" ><i class="fas fa-search"></i></span>
			</div>
			<input class="form-control" id="myInput" type="text" placeholder="Buscar..">
		</div>
		<div class="form-group">
			<label>Rango de Fechas: </label>
			<div class="input-group my-3" style="width: 30%;">
				<input class="form-control" id="fechaDesde" type="date" placeholder="Fecha Desde..." onChange="cambioFecha()">
				<input class="form-control" id="fechaHasta" type="date" placeholder="Fecha Hasta..." onChange="cambioFecha()">
			</div>
		</div>
		<table class="table">
			<thead>
			<tr>
			<th style="background-color: #37bd004f;">ID</th>
			<th style="background-color: #37bd004f;">FECHA DE VENTA</th>
			<th style="background-color: #37bd004f;">CANTIDAD</th>
			<th style="background-color: #37bd004f;">AUTO</th>
			<th style="background-color: #37bd004f;">$ FINAL</th>
			<th style="background-color: #37bd004f;">CLIENTE</th>
			<th style="background-color: #37bd004f;">VENDEDOR</th>
			<th style="background-color: #37bd004f;">ACCIONES</th>
			</tr>
			</thead>
			<tbody id="myTable" >
				<tr th:each="venta:${venta}">
					<td th:text="${venta.id}"></td>
					<td th:text="${#dates.format(venta.fechaVenta, 'dd-MM-yyyy')}" id="fechaVenta"></td>
					<td th:text="${venta.cantidad}"></td>
					<td th:text="${venta.auto.modelo.nombre}"> </td>
					<td th:text="${venta.precioFinal}"></td>
					<td th:text="${venta.cliente.nombre}"></td>
					<td th:text="${venta.empleado.nombre}" id="empleadoNombre"></td>
					<td>
						<!--  <a th:href="@{/editarVenta/}+${venta.id}" class="btn btn-primary btn-sm"><i class='fas fa-pencil-alt'></i></a>-->
						<a  th:href="@{/eliminarVenta/}+${venta.id}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	
	function cambioFecha(){
		console.log("cambio fecha");
		//habria que hacaer l función para que busque por es fecha 
	}

	</script>
</body>
</html>