<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado de Ventas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-4">
		<div style="margin-bottom: 1rem; text-align: right;">
			<a th:href="@{/newVenta}"class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar Venta</a>
			<a th:href="@{/menu}" class="btn btn-warning"><i class="fas fa-angle-double-left"></i> Volver</a>
		</div>
		
		<div class="row">
			<div class="col-6">
				<!-- FILTRO POR MODELO -->
				<label class="form-label">FILTRO POR MODELO</label>
				<div class="input-group my-3">
					<div class="input-group-prepend">
						<span class="input-group-text" style="background-color: #c1ebb0;" ><i class="fas fa-search"></i></span>
					</div>
					<input class="form-control" id="myInput" type="text" placeholder="Buscar..">
				</div>
				
				<!-- FILTRO POR CLIENTE -->
				<label class="form-label">FILTRO POR CLIENTE</label>
				<div class="input-group my-3" >
					<div class="input-group-prepend">
						<span class="input-group-text" style="background-color: #c1ebb0;" ><i class="fas fa-search"></i></span>
					</div>
					<input class="form-control" id="myInput1" type="text" placeholder="Buscar..">
				</div>
				
			</div>
			
			<div class="col-6">
				<!-- FILTRO POR RANGO DE FECHAS -->
				<div class="form-group">
					<label>Rango de Fechas: </label>
					<div class="input-group my-3">
						<input class="form-control" id="fechaDesde" type="date" placeholder="Fecha Desde..." onChange="cambioFecha()">
						<input class="form-control" id="fechaHasta" type="date" placeholder="Fecha Hasta..." onChange="cambioFecha()">
					</div>
				</div>
				
				<!-- FILTRO PO VENDEDOR -->
				<label class="form-label">FILTRO POR VENDEDOR</label>
				<div class="input-group my-3" >
					<div class="input-group-prepend">
						<span class="input-group-text" style="background-color: #c1ebb0;" ><i class="fas fa-search"></i></span>
					</div>
					<input class="form-control" id="myInput2" type="text" placeholder="Buscar..">
				</div>		
			</div>
		</div>

		<table class="table">
			<thead>
			<tr>
			<th style="background-color: #37bd004f;">ID</th>
			<th style="background-color: #37bd004f;">FECHA DE VENTA</th>
			<th style="background-color: #37bd004f;">CANTIDAD</th>
			<th style="background-color: #37bd004f;">AUTO</th>
			<th style="background-color: #37bd004f;">$ FINAL</th>
			<th style="background-color: #37bd004f;">CLIENTE</th>
			<th style="background-color: #37bd004f;">VENDEDOR</th>
			<th style="background-color: #37bd004f;">ACCIONES</th>
			</tr>
			</thead>
			<tbody id="myTable" >
				<tr th:each="venta:${venta}">
					<td name="id" th:text="${venta.id}"></td>
					<td name="fecha" th:text="${venta.fechaVenta}"></td>
					<td name="cantidad" th:text="${venta.cantidad}"></td>
					<td name="auto" th:text="${venta.auto.modelo.nombre}"> </td>
					<td name="precio" th:text="${venta.precioFinal}"></td>
					<td name="cliente" th:text="${venta.cliente.nombre}"></td>
					<td name="empleado" th:text="${venta.empleado.nombre}" id="empleadoNombre"></td>
					<td>
						<!--  <a th:href="@{/editarVenta/}+${venta.id}" class="btn btn-primary btn-sm"><i class='fas fa-pencil-alt'></i></a>-->
						<a  th:href="@{/eliminarVenta/}+${venta.id}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	function getCliente(selectObject) {
	  var value = selectObject;  
	  console.log(value);
	}
	$(document).ready(function(){


	
	  $("#myInput").on("keyup", function() {
	    //FILTRO MARCA DESDE INPUT (POSIBLE ELIMINAR)
	    //var value = $("#myInput").val().toLowerCase(); 
	    //$('#myTable tr').filter(function() {
	    //    $(this).toggle(
	    //     ($(this).find("td:eq(3)").text().toLowerCase().indexOf(value)>-1) )
	    //});
	    //cliente con comboBox (POSIBLE ELIMINAR)
	    //var value = $("#myInput").val().toLowerCase(); 
	    //$('#myTable tr').filter(function() {
	    //     $(this).toggle($(this).find("td:eq(3)").text().toLowerCase().indexOf(value) > -1)
	    
	    //FILTRO MODELO  
	    var value = $("#myInput").val().toLowerCase(); 
	    $('#myTable tr').filter(function() {
	        $(this).toggle(
	         ($(this).find("td:eq(3)").text().toLowerCase().indexOf(value)>-1) )
	    });
	  });
	  //FILTRO CLIENTE
	  $("#myInput1").on("keyup", function() {  
	    var value = $("#myInput1").val().toLowerCase(); 
	    $('#myTable tr').filter(function() {
	        $(this).toggle(
	         ($(this).find("td:eq(5)").text().toLowerCase().indexOf(value)>-1) )
	    });
	  });
	  //FILTRO VENDEDOR
	  $("#myInput2").on("keyup", function() {  
	    var value = $("#myInput2").val().toLowerCase(); 
	    $('#myTable tr').filter(function() {
	        $(this).toggle(
	         ($(this).find("td:eq(6)").text().toLowerCase().indexOf(value)>-1) )
	    });
	  });
	
	});
	
	
	function cambioFecha(){
		var fechaDesde= $("#fechaDesde").val();
		var fechaHasta =  $("#fechaHasta").val();
		let filterFrom= new Date(fechaDesde);
		let filterTo= new Date(fechaHasta);
		$('#myTable tr').each(function () {
			var fechaFila = $(this).find("td:eq(1)").text();
			let fechaVenta = new Date(fechaFila);
			if ((filterFrom <= fechaVenta) && (fechaVenta <= filterTo) ){
				$(this).show();
			}else{
				$(this).hide();
			}
		});
	    
	}
	

	</script>
</body>
</html>